langchain
python-dotenv
langchain-community
pypdf
bs4
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-chroma
beautifulsoup4
streamlit
langchain_groq
langchain_core
pydantic
cryptography
validators
huggingface_hub
xformers
